In [49]:
import pandas as pd 
import numpy as np

Q1. Pandas version

What version of Pandas did you install?

You can get the version information using the __version__ field:

In [37]:
pd.__version__

'2.3.1'

In [47]:
df = pd.read_csv("car_fuel_efficiency.csv")

Q2. Records count

How many records are in the dataset?

    4704
    8704
    9704
    17704

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

Q3. Fuel types

How many fuel types are presented in the dataset?

    1
    2
    3
    4

In [40]:
len(df["fuel_type"].unique())

2

Q4. Missing values

How many columns in the dataset have missing values?

    0
    1
    2
    3
    4

In [41]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

    13.75
    23.75
    33.75
    43.75

In [42]:
df.query("origin == 'Asia'")['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

Q6. Median value of horsepower

    Find the median value of the horsepower column in the dataset.
    Next, calculate the most frequent value of the same horsepower column.
    Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
    Now, calculate the median value of horsepower once again.

In [29]:
df["horsepower"].median()

np.float64(149.0)

In [43]:
df["horsepower"].mode()

0    152.0
Name: horsepower, dtype: float64

In [48]:
df["horsepower"] = df["horsepower"].fillna(152.0)

Yes, it increased

In [33]:
df["horsepower"].median()

np.float64(152.0)

Q7. Sum of weights

    Select all the cars from Asia
    Select only columns vehicle_weight and model_year
    Select the first 7 values
    Get the underlying NumPy array. Let's call it X.
    Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    Invert XTX.
    Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
    Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    What's the sum of all the elements of the result?

In [52]:
X = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7).values
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [58]:
XTX = X.T.dot(X)

In [59]:
XTX_inv = np.linalg.inv(XTX)

In [60]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv.dot(X.T).dot(y)
w.sum()

np.float64(0.5187709081074016)